beautifulsoup4==4.3.2
cssselect==0.9.1
cycler==0.9.0
Cython==0.23.4
decorator==4.0.4
extraction==0.2
feedfinder2==0.0.1
feedparser==5.1.3
Flask==0.10.1
geograpy==0.3.7
html2text==2015.6.21
html5lib==0.9999999
ipykernel==4.0.3
ipython==4.0.0
ipython-genutils==0.1.0
ipywidgets==4.0.3
itsdangerous==0.24
jellyfish==0.5.1
jieba==0.35
Jinja2==2.8
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.0.0
jupyter-console==4.0.2
jupyter-core==4.0.6
-e git://github.com/jupyter/jupyter-drive.git@545813377cb901235e8ea81f83b0ac7755dbd7a9#egg=jupyterdrive
lxml==3.3.5
MarkupSafe==0.23
matplotlib==1.5.0
mistune==0.7.1
nbconvert==4.1.0
nbformat==4.0.1
newspaper==0.0.9.8
nltk==3.1
notebook==4.0.5
numpy==1.10.0.post2
pandas==0.17.0
path.py==8.1.1
pexpect==3.3
pickleshare==0.5
Pillow==2.5.1
pkg-resources==0.0.0
plotly==1.9.0
psutil==3.2.2
ptyprocess==0.5
pycountry==1.18
PyExecJS==1.1.0
Pygments==2.0.2
pymongo==3.0.3
pyparsing==2.0.5
PyReact==0.5.2
python-dateutil==2.4.0
pytz==2015.6
pyxley==0.0.6
PyYAML==3.11
pyzmq==14.7.0
qtconsole==4.0.1
requests==2.3.0
rpy2==2.8.2
scikit-learn==0.17.1
scipy==0.17.1
simplegeneric==0.8.1
six==1.7.3
sklearn==0.0
terminado==0.5
tldextract==1.5.1
tornado==4.2.1
traitlets==4.0.0
Werkzeug==0.11.10
